@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

html {
	transition: background-color 0.3s ease, color 0.3s ease;
}

html[data-bs-theme="light"] {
	--body-bg-color: #e3c3e7;
	--body-text-color: #4a1a63;
	--bd-custom-bg: #9b4d96;
	--bd-custom-rgb: rgb(155, 77, 150);
	--bd-custom-hover: #8e24aa;
	--bd-custom-active: #ab47bc;
	--link-color: #7a3e84;
	--link-hover-color: #4a1a63;
	--title-color: #6b3274;
	--title-hover-color: #4a1a63;
	--footer-text-color: #6b3274;
}

html[data-bs-theme="dark"] {
	--body-bg-color: #2e003e;
	--body-text-color: #f0b3ff;
	--bd-custom-bg: #9c27b0;
	--bd-custom-rgb: rgb(156, 39, 176);
	--bd-custom-hover: #ab47bc;
	--bd-custom-active: #8e24aa;
	--link-color: #bb86fc;
	--link-hover-color: #f0b3ff;
	--title-color: #d1a7ff;
	--title-hover-color: #f0b3ff;
	--footer-text-color: #d1a7ff;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--body-bg-color);
	color: var(--body-text-color);
}

/* .container {
	border-left: 2px solid var(--bd-custom-bg);
	border-right: 2px solid var(--bd-custom-bg);
	padding: 10px;
} */

.border-bottom {
	border-bottom: 2px solid var(--bd-custom-bg) !important;
}

.border-top {
	border-top: 2px solid var(--bd-custom-bg) !important;
}

.nav-link {
	color: var(--link-color);
	transition: color 0.2s ease, fill 0.2s ease;
}

.nav-link:hover {
	color: var(--link-hover-color);
	transform: scale(1.1);
}

.nav-link:active,
.nav-link:visited {
	color: var(--link-color);
}

.nav-link svg {
	fill: var(--link-color);
}

.nav-link:hover svg {
	fill: var(--link-hover-color);
}

.header-title {
	color: var(--title-color);
	transition: color 0.3s ease;
}

.header-title:hover {
	color: var(--title-hover-color);
	text-decoration: dashed underline var(--bd-custom-bg) 2px;
}

.header-title:active,
.header-title:visited {
	color: var(--title-color);
}

footer {
	color: var(--footer-text-color);
}

.btn-bd-primary {
	--bs-btn-font-weight: 600;
	--bs-btn-color: white;
	--bs-btn-bg: var(--bd-custom-bg);
	--bs-btn-border-color: var(--bd-custom-bg);
	--bs-btn-focus-shadow-rgb: var(--bd-custom-rgb);
	--bs-btn-hover-color: white;

	--bs-btn-hover-bg: var(--bd-custom-hover);
	--bs-btn-hover-border-color: var(--bd-custom-hover);

	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: var(--bd-custom-active);
	--bs-btn-active-border-color: var(--bd-custom-active);

	transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dropdown-toggle {
	background-color: var(--bd-custom-bg);
	color: white;
	border: none;
}

.dropdown-toggle:hover {
	background-color: var(--bd-custom-hover);
	color: white;
}

.dropdown-menu {
	background-color: var(--body-bg-color);
	border: 3px solid var(--bd-custom-bg);
	border-radius: 10px;
}

.dropdown-item {
	color: var(--body-text-color);
	padding: 15px 15px;
	display: flex;
	align-items: center;
	transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-item:hover {
	background-color: var(--bd-custom-hover);
	color: white;
}

.dropdown-item.active {
	background-color: var(--bd-custom-active);
	color: white;
}

.dropdown-item svg {
	fill: var(--body-text-color);
	width: 1.2em;
	height: 1.2em;
}

.bd-mode-toggle {
	z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
}

.bi {
	vertical-align: -0.125em;
	fill: currentColor;
}

.scroll-to-top {
	position: fixed;
	bottom: 15px;
	right: 15px;
	background-color: var(--bd-custom-bg);
	color: white;
	padding: 8px 12px;
	border-radius: 10px;
	display: none;
	border: none;
	cursor: pointer;
	z-index: 1500;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: rgba(0, 0, 0, 0.75);
	border: 2px solid rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#myCarousel .carousel-inner img {
	height: 400px;
	object-fit: cover;
	width: 100%;
}

.modal.fade .modal-dialog {
	transform: translateY(-30px);
	opacity: 0;
	transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.modal.show .modal-dialog {
	transform: translateY(0);
	opacity: 1;
}

.fade-in {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.9s ease-out, transform 0.9s ease-out;
	transition-delay: calc(var(--fade-index) * 0.2s);
}

.fade-in-visible {
	opacity: 1;
	transform: translateY(0);
}

.hr-divider {
	margin: 1rem 0;
}

section {
	margin-bottom: 25px;
}

.card-content {
	z-index: 5;
}

.image-zoom {
	transition: transform 0.3s ease-in-out;
}

.card:hover .image-zoom {
	transform: scale(1.1);
}

.card-gradient-col1 {
	background-image: linear-gradient(to right, #ff7e5f, #feb47b);
}

.card-gradient-col2 {
	background-image: linear-gradient(to right, #6a11cb, #2575fc);
}

.card-gradient-col3 {
	background-image: linear-gradient(to right, #4caf50, #009688);
}

.featurette-divider {
	margin: 5rem 0;
}

.featurette-heading {
	letter-spacing: -0.05rem;
}

.img-rounded-square {
	border-radius: 15px;
}

.move-up {
	margin-top: -20px;
}

#popup {
	position: fixed;
	bottom: 18px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--bd-custom-bg);
	color: white;
	border-radius: 5px;
	padding: 5px 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	opacity: 1;
	z-index: 2000;
}

#popup-close {
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	cursor: pointer;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--body-bg-color);
	z-index: 2000;
	background-image: url(../img/tf2-heavy.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 25%;
	opacity: 1;
	transition: opacity 1s ease-out;
}

#preloader.hidden {
	opacity: 0;
}

.navbar-collapse {
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 575.98px) {
	#scrollToTopBtn {
		display: none !important;
	}
}

@media (max-width: 768px) {
	.navbar-collapse {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.center-nav {
		display: flex;
		justify-content: center;
		width: 100%;
		text-align: center;
	}

	.navbar-nav .nav-item {
		margin: 0 10px;
	}
}

@media (max-width: 1124px) {
	#play-music {
		display: none !important;
	}
	.bd-mode-toggle {
		display: none !important;
	}
}

@media (min-width: 40em) {
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}
}

@media (min-width: 62em) {
	.featurette-heading {
		margin-top: 7rem;
	}
}
