@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

html[data-bs-theme="dark"] {
	--body-bg-color: #1b1f22;
	--body-text-color: #dda0dd;
}

html[data-bs-theme="light"] {
	--body-bg-color: #e7d8f3;
	--body-text-color: #4c1691;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--body-bg-color);
	color: var(--body-text-color);
}

.btn-bd-primary {
	--bd-violet-bg: #712cf9;
	--bd-violet-rgb: 112.520718, 44.062154, 249.437846;

	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet-bg);
	--bs-btn-border-color: var(--bd-violet-bg);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #6528e0;
	--bs-btn-hover-border-color: #6528e0;
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #5a23c8;
	--bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
	z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
}

.bi {
	vertical-align: -0.125em;
	fill: currentColor;
}

.scroll-to-top {
	position: fixed;
	bottom: 15px;
	right: 15px;
	background-color: #712cf9;
	color: white;
	padding: 8px 12px;
	border-radius: 10px;
	display: none;
	border: none;
	cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: rgba(0, 0, 0, 0.75);
	border: 2px solid rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#myCarousel .carousel-inner img {
	height: 400px;
	object-fit: cover;
	width: 100%;
}

.modal.fade .modal-dialog {
	transform: translateY(-30px);
	opacity: 0;
	transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.modal.show .modal-dialog {
	transform: translateY(0);
	opacity: 1;
}

/* .b-divider {
	width: 100%;
	height: 1rem;
	background-color: rgba(0, 0, 0, 0.1);
	border: solid rgba(0, 0, 0, 0.15);
	border-width: 1px 0;
	box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
		inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
} */

.le-divider {
	margin: 1rem 0;
}

section {
	margin-bottom: 25px;
}

.card-content {
	z-index: 2;
}

.image-zoom {
	transition: transform 0.3s ease-in-out;
}

.card:hover .image-zoom {
	transform: scale(1.1);
}

.card-gradient-col1 {
	background-image: linear-gradient(to right, #ff7e5f, #feb47b);
}

.card-gradient-col2 {
	background-image: linear-gradient(to right, #6a11cb, #2575fc);
}

.card-gradient-col3 {
	background-image: linear-gradient(to right, #4caf50, #009688);
}

.popup {
	position: fixed;
	bottom: 18px;
	right: 69px;
	background-color: #34495e;
	color: white;
	border-radius: 5px;
	padding: 5px 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity 1s ease-out;
	z-index: 9999;
}

.popup-close {
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	cursor: pointer;
}

@media (max-width: 1124px) {
	#play-music {
		display: none !important;
	}
	.bd-mode-toggle {
		display: none !important;
	}
}

@media (max-width: 768px) {
}

@media (max-width: 575.98px) {
	#scrollToTopBtn {
		display: none !important;
	}
}
