@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

html[data-bs-theme="dark"] {
	--body-bg-color: #1b1f22;
	/* --body-bg-color: #282828; */
	--body-text-color: #dda0dd;
}

html[data-bs-theme="light"] {
	--body-bg-color: #fff;
	--body-text-color: #000000;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--body-bg-color);
	color: var(--body-text-color);
}

.btn-bd-primary {
	--bd-violet-bg: #712cf9;
	--bd-violet-rgb: 112.520718, 44.062154, 249.437846;

	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet-bg);
	--bs-btn-border-color: var(--bd-violet-bg);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #6528e0;
	--bs-btn-hover-border-color: #6528e0;
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #5a23c8;
	--bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
	z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
}

.bi {
	vertical-align: -0.125em;
	fill: currentColor;
}

.scroll-to-top {
	position: fixed;
	bottom: 15px;
	right: 15px;
	background-color: #712cf9;
	color: white;
	padding: 8px 12px;
	border-radius: 10px;
	display: none;
	border: none;
	cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: rgba(0, 0, 0, 0.75);
	border: 2px solid rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#myCarousel .carousel-inner img {
	height: 400px;
	object-fit: cover;
	width: 100%;
}

.modal.fade .modal-dialog {
	transform: translateY(-30px);
	opacity: 0;
	transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.modal.show .modal-dialog {
	transform: translateY(0);
	opacity: 1;
}

section {
	margin-bottom: 50px;
}

@media (max-width: 1124px) {
	#play-music {
		display: none !important;
	}
	.bd-mode-toggle {
		display: none !important;
	}
}

@media (max-width: 768px) {
}

@media (max-width: 575.98px) {
	#scrollToTopBtn {
		display: none !important;
	}
}
